@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #fefcf5;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f6f7f4;
}

::-webkit-scrollbar-thumb {
  background: #949b7e;
  border-radius: 3px;
}
